@import "scss/variable";
@import "scss/general";
@import "scss/landing";
@import "scss/nav";
@import "scss/desktophome";
@import "scss/contact";
@import "scss/property";
@import "scss/auth";
@import "scss/profile";
