.desktop-home {
	height: 100vh;
	overflow: hidden;

	.home-area {
		position: relative;
		height: 100vh;
		.nav {
			padding: 12px 20px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;

			button.mobile {
				background: none;
				outline: 0;
				border: 0;

				@media (min-width: 991px) {
					visibility: hidden;
				}
			}

			button.desktop {
				@media (max-width: 991px) {
					display: none;
				}

				position: absolute;
				right: 0;
				background: $brand-color;
				top: 0;
				border: 0;
				outline: 0;
				display: flex;
				flex-direction: column;
				padding: 10px 12px;

				span {
					text-transform: uppercase;
					font-family: "Roboto Slab", serif;
					color: #fff;
					font-weight: bold;
				}
			}
		}
		.content {
			padding-top: 40px;

			.space {
				margin: 0 10%;

				p {
					text-align: center;
					font-size: 0.9rem;
					font-weight: 600;
				}
			}

			.space-main {
				padding: 10px 20px;

				h5 {
					text-transform: uppercase;
					font-size: 1rem;
					font-weight: 600;
				}
				p {
					font-size: 0.9rem;
					font-weight: 500;
				}

				.testimonies {
					.box {
						border: 1px solid #ccc;
						margin-bottom: 15px;
						padding: 10px;
						background: #fff;
						position: relative;
						z-index: 9999;

						h6 {
							font-size: 0.9rem;
							color: #a1a1a1;
						}
						p {
							font-size: 0.8rem;
						}
					}
				}
				.services {
					margin-top: 15px;
					.box {
						border: 1px solid #ccc;
						padding: 10px;
						text-align: center;

						&.color {
							background: $brand-color;
							cursor: pointer;
							p {
								color: #fff;
							}
						}

						p {
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}
		button.click-btn-home {
			position: absolute;
			left: 0px;
			bottom: 80px;
			z-index: 999;
			rotate: 90deg;
			background: $brand-color;
			border: 0;
			outline: 0;
			color: #fff;
			font-family: "Roboto Slab", serif;
			padding: 5px 15px;

			&.first {
				bottom: 100px;
			}
		}
		.bottom-div {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			background: url(../../assets/Illustration.svg);
			background-size: cover;
			height: 300px;
		}
	}
}

.contact-home {
	height: 100vh;
	background: #f5f5f5;
	padding: 20px;
	padding-top: 30px;
}

.properties-vary {
	background: #f5f5f5;
	padding: 20px;

	&.add {
		height: 100vh;
		overflow-y: auto;
	}

	.filter {
		h5 {
			color: $brand-color;
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			font-weight: 800;
			text-transform: uppercase;
			padding: 0 20px;
			text-align: center;
		}

		select,
		button {
			height: 50px;
			background: inherit;
			width: 200px;
		}

		button {
			outline: 0;
			border: 0;
			background: $brand-color;
			color: #fff;
			text-transform: uppercase;
			font-weight: 600;
		}

		select {
			padding-left: 10px;
		}
	}

	.list {
		margin-top: 30px;
	}
}
