.drop-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $brand-color;
	height: 100vh;
	z-index: 9999991;
	overflow-y: auto;

	@media (min-width: 991px) {
		position: absolute;
	}

	&.no-close {
		display: none;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;
		position: relative;

		button.mobile {
			background: none;
			outline: 0;
			border: 0;
		}
		button.desktop {
			@media (max-width: 991px) {
				display: none;
			}
			position: absolute;
			right: 0;
			background: #fff;
			top: 0;
			border: 0;
			outline: 0;
			display: flex;
			flex-direction: column;
			padding: 10px 20px;

			span {
				text-transform: uppercase;
				font-family: "Roboto Slab", serif;
				color: $brand-color;
				font-weight: bold;
			}
		}
	}
	.menus {
		text-align: center;
		margin-top: 50px;

		.profile {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.initials {
				background: #fff;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #852472;
				font-weight: bolder;
				font-size: 1.2rem;
				margin-bottom: 10px;
			}
			.title {
				color: #fff;
				font-size: 1.1rem;
			}

			button {
				color: $brand-color;
				font-weight: 800;
				border: 0;
				outline: 0;
				padding: 10px 30px;
				margin-bottom: 30px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 35px;

				@media (max-width: 991px) {
					margin-bottom: 25px;
				}

				a {
					color: #fff;
					text-decoration: none;
					padding-bottom: 5px;
					padding-right: 10px;
					padding-left: 10px;
					font-weight: normal;

					@media (min-width: 991px) {
						font-size: 1.1rem;
					}

					&.active {
						font-weight: bold;
						font-family: "Roboto Slab", serif;
						border-bottom: 3px solid #fff;
					}

					&.u-btn {
						width: 250px;
						display: inline-block;
						padding: 15px 0;
						font-weight: 700;
						&.login {
							background: #fff;
							color: $brand-color;
						}
						&.register {
							// background: #2b3c7b;
							background: grey;
						}
					}
				}
			}
		}
	}
	.bottom-content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.big {
			right: 20%;
			left: 20%;
		}

		@media (max-width: 991px) {
			justify-content: center;
			flex-direction: column;
			right: 0;
			left: 0;
			bottom: 5%;
		}

		.socials {
			margin-bottom: 20px;
			a {
				display: inline-block;
				color: $brand-color;
				text-decoration: none;
				background: #fff;
				margin: 5px 6px;
				padding: 3px 8px;
				font-size: 1.1rem;
				border-radius: 3px;
			}
		}

		.copyright {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 20px;

			@media (min-width: 991px) {
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
			}

			p {
				margin: 0 6px;
				padding: 0;
				font-size: 0.7rem;
				font-weight: normal;
				color: #fff;
			}
		}
	}
}

.navigation {
	.nav {
		padding: 12px 0;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		button.mobile {
			background: none;
			outline: 0;
			border: 0;
		}
	}
}

.urb-page {
	position: relative;
}
